<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HappyFace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F55031F41BC8FF2C00F9B4C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55032081BC8FF2C00F9B4C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55032131BC8FF2C00F9B4C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
